/*
 * ==========================================================================
 * Image Banner
 * ==========================================================================
*/

.banner {
  display: flex;
  position: relative;
  min-height: initial;
  flex-direction: column;

  @media screen and (min-width: theme("screens.lg")) {
    min-height: 41rem;
    flex-direction: row;
  }
}

.banner__media {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: relative;
  min-height: 300px;

  @media screen and (min-width: theme("screens.lg")) {
    position: absolute;
    height: 100%;
  }
}

.banner__content {
  padding: 0 10px;

  @media screen and (min-width: theme("screens.lg")) {
    padding: 0;
  }
}

.banner__box {
  padding: 1.25rem 1.25rem;
  background-color: theme("colors.white");
  width: 100%;
  border: 1px solid theme("colors.input-border");
  margin-top: -90px;

  @media screen and (min-width: theme("screens.lg")) {
    padding: 4rem 6.3rem;
    background-color: theme("colors.transparent");
    max-width: 860px;
    border: none;
    margin-top: 0;
  }
}

.banner__buttons {
  .btn {
    width: 48%;
    margin-bottom: 10px;

    @media screen and (min-width: theme("screens.lg")) {
      width: auto;
      margin-bottom: 0;
    }
  }
}
